<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-행정동-/-법정동-가져올-좌표-리스트-생성" data-toc-modified-id="1.-행정동-/-법정동-가져올-좌표-리스트-생성-1">1. 행정동 / 법정동 가져올 좌표 리스트 생성</a></span></li><li><span><a href="#2.-카카오-API-활용---행정동-/-법정동-검색" data-toc-modified-id="2.-카카오-API-활용---행정동-/-법정동-검색-2">2. 카카오 API 활용 - 행정동 / 법정동 검색</a></span></li></ul></div>

In [1]:
import requests
from urllib.parse import urlparse
import numpy as np
import pandas as pd
import geopandas
import re

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
버스 = pd.read_csv('./data/서울시_버스정류장.csv', encoding='cp949')
print(버스.shape)
버스.head()

(8063, 4)

             정류소명         X좌표        Y좌표  정류버스수
0       서울역버스환승센터  126.972773  37.555475     58
1           현대아파트  127.052861  37.482276     55
2            노량진역  126.944708  37.513886     52
3  연희104고지앞.구성산회관  126.925786  37.566360     52
4          미아사거리역  127.030002  37.613765     48

## 1. 행정동 / 법정동 가져올 좌표 리스트 생성

In [3]:
XY = np.array([list(i) for i in zip(버스['X좌표'], 버스['Y좌표'])])
XY

array([[126.97277266,  37.55547526],
       [127.05286142,  37.48227641],
       [126.94470755,  37.51388591],
       ...,
       [127.07652825,  37.58842234],
       [127.08499787,  37.58768876],
       [127.09420247,  37.58783786]])

## 2. 카카오 API 활용 - 행정동 / 법정동 검색

In [17]:
# 행정동 / 법정동 검색 함수 정의
def region_name(xy_list):
    url = f"https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={xy_list[0]}&y={xy_list[1]}"
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK ****"})
    json_obj = result.json()
    global val   # 전역 변수를 지역 범위에서 사용하고 싶을 경우
    for document in json_obj['documents']:
        # 값이 NoneType 일 경우의 오류 방지
        try:
            val = [document['region_type'], document['region_3depth_name'], document['x'], document['y']]
        except:
            val = [0,0,0,0]
    return val

In [19]:
region_name([126.972773, 37.555475])

['H', '회현동', 126.97935667015034, 37.55729358571407]

In [22]:
# 행정동 / 법정동 검색 함수 반복 적용
list1 = []
for i in XY:
    list1.append(region_name(i))

In [23]:
버스2 = pd.DataFrame(list1, columns=['H/B', '행정동', '행정동_경도', '행정동_위도'])
버스2.head()

  H/B    행정동      행정동_경도     행정동_위도
0   H    회현동  126.979357  37.557294
1   H   개포4동  127.051622  37.478857
2   H  노량진1동  126.942016  37.512307
3   H    연희동  126.935231  37.573910
4   H    송천동  127.023868  37.618308

In [24]:
버스3 = pd.concat([버스, 버스2], axis=1)
print(버스3.shape)
버스3.head()

(8063, 8)

,정류소명,X좌표,Y좌표,정류버스수,H/B,행정동,행정동_경도,행정동_위도
0,서울역버스환승센터,126.972773,37.555475,58,H,회현동,126.979357,37.557294
1,현대아파트,127.052861,37.482276,55,H,개포4동,127.051622,37.478857
2,노량진역,126.944708,37.513886,52,H,노량진1동,126.942016,37.512307
3,연희104고지앞.구성산회관,126.925786,37.566360,52,H,연희동,126.935231,37.573910
4,미아사거리역,127.030002,37.613765,48,H,송천동,127.023868,37.618308

In [26]:
버스3['H/B'].unique()     # 모두 행정동

array(['H'], dtype=object)

In [28]:
버스3 = 버스3.drop('H/B', axis=1)
버스3.head()

             정류소명         X좌표        Y좌표  정류버스수    행정동      행정동_경도     행정동_위도
0       서울역버스환승센터  126.972773  37.555475     58    회현동  126.979357  37.557294
1           현대아파트  127.052861  37.482276     55   개포4동  127.051622  37.478857
2            노량진역  126.944708  37.513886     52  노량진1동  126.942016  37.512307
3  연희104고지앞.구성산회관  126.925786  37.566360     52    연희동  126.935231  37.573910
4          미아사거리역  127.030002  37.613765     48    송천동  127.023868  37.618308

In [29]:
버스3.to_csv('./data/서울시_버스정류장_행정동추가.csv', index=False)